# Student Attendance, Academics and Discipline

In this Jupyter notebook, attendance data for students will be compiled that reflect the number of periods they were tardy as well as the number of periods they had an unexcused absence as well as the number of total absent periods. A total of discipline data logs is also calculated as well as the number of suspensions that they had. Finally, the academic data for students will be compiled by looking at their total academic GPA as well as the number of Ds and Fs that they are getting in classes currently.

In [1]:
import numpy as np
import pandas as pd

The Aeries SIS queries for the data that is needed is included as well as uploading them into the sheet.

In [2]:
#LIST STU SC ID STU.NM GR AHD AHD.YR AHD.AL AHD.P0 AHD.P1 AHD.P2 AHD.P3 AHD.P4 AHD.P5 AHD.P6 AHD.P7 AHD.P8 AHD.P9 AHD.CD IF AHD.CD = C OR AHD.CD = T OR AHD.CD = Z

tardies = pd.read_excel(r"C:\Users\derek.castleman\Desktop\Tardies.xlsx")

#LIST STU SC ID STU.NM GR AHD AHD.YR AHD.AL AHD.P0 AHD.P1 AHD.P2 AHD.P3 AHD.P4 AHD.P5 AHD.P6 AHD.P7 AHD.P8 AHD.P9 AHD.CD

absences = pd.read_excel(r"C:\Users\derek.castleman\Desktop\Absences.xlsx")

# LIST STU ID DIS DIS.CD? DIS.DT 
discipline = pd.read_excel(r"C:\Users\derek.castleman\Desktop\Discipline.xlsx")

# LIST STU ADS DSP ADS.SC STU.ID ADS.DT ADS.CD DSP.DS DSP.DD
suspension = pd.read_excel(r"C:\Users\derek.castleman\Desktop\Suspension.xlsx")

# LIST STU SC ID STU.NM GR TP

gpa = pd.read_excel(r"C:\Users\derek.castleman\Desktop\GPA.xlsx")

# LIST STU ID FEE FEE.AM FEE.DT FEE.PD FEE.CD?

fees = pd.read_excel(r"C:\Users\derek.castleman\Desktop\Fees.xlsx")

# LIST STU GBU GBK GBR STU.SC STU.ID STU.NM STU.GR GBK.PD GBK.NM GBR.CD GBU.CMK GBU.TG GBU.CSC

gradebook = pd.read_excel(r"C:\Users\derek.castleman\Desktop\Gradebook.xlsx")

C:\Users\derek.castleman\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

## Attendance

Attendance will be looked at in three different ways. First, the number of periods that a student was tardy to class will be summed up. I will follow this by calculating the number of periods that each student missed due to an unexcused absence. It will conclude by calculating the total periods that a student missed whether or not they were excused or unexcused.

### Tardies

In [3]:
tardies

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code
0,1,1095014,"A Cerda, Eddie",10,2021-2022,0,0,6,16,0,0,0,0,0,0,0,C
1,1,1095014,"A Cerda, Eddie",10,2021-2022,0,0,2,10,0,0,0,0,0,0,0,Z
2,1,1095014,"A Cerda, Eddie",10,2021-2022,0,0,0,2,0,1,0,0,0,0,0,T
3,1,1095014,"A Cerda, Eddie",10,2022-2023,0,3,7,2,0,5,3,3,5,1,0,C
4,1,1095014,"A Cerda, Eddie",10,2022-2023,0,2,0,0,0,0,0,0,0,0,0,Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12882,6,1094375,"Zuniga Vazquez, Luis",4,2021-2022,6,0,0,0,0,0,0,0,0,0,0,C
12883,6,1094375,"Zuniga Vazquez, Luis",4,2022-2023,1,0,0,0,0,0,0,0,0,0,0,T
12884,6,1094375,"Zuniga Vazquez, Luis",4,2022-2023,1,0,0,0,0,0,0,0,0,0,0,C
12885,6,1094375,"Zuniga Vazquez, Luis",4,2019-2020,13,0,0,0,0,0,0,0,0,0,0,C
12886,6,1094375,"Zuniga Vazquez, Luis",4,2019-2020,1,0,0,0,0,0,0,0,0,0,0,T

In [4]:
x = input('Input year of interest (2022-2023, 2023-2024, etc.)        ') # Inputting current year of interest
x

Input year of interest (2022-2023, 2023-2024, etc.)        2023-2024

'2023-2024'

In [5]:
year_tardies = tardies[tardies['Year'] == x] #Selecting the current year out of the dataset
year_tardies

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code
6,1,1095014,"A Cerda, Eddie",10,2023-2024,6,0,0,4,1,1,0,0,0,0,0,T
7,1,1095014,"A Cerda, Eddie",10,2023-2024,0,4,0,1,0,0,1,2,1,0,0,C
8,1,1095014,"A Cerda, Eddie",10,2023-2024,1,2,0,0,0,0,0,0,0,0,0,Z
17,1,1095224,"Acevedo, Italivi",11,2023-2024,0,0,3,0,0,0,0,0,0,2,0,C
19,1,1095224,"Acevedo, Italivi",11,2023-2024,1,6,0,0,0,0,0,0,0,0,0,Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12848,4,1096192,"Zepeda Salas, Elena",1,2023-2024,1,0,0,0,0,0,0,0,0,0,0,C
12861,2,1094273,"Zuniga, Matthew",6,2023-2024,0,0,0,0,0,0,1,1,0,0,0,C
12862,2,1094273,"Zuniga, Matthew",6,2023-2024,2,0,1,0,0,0,1,0,0,0,0,Z
12863,6,1092848,"Zuniga, Michelle",6,2023-2024,1,0,0,0,0,0,0,0,0,0,0,Z
12881,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,8,0,0,0,0,0,0,0,0,0,0,Z

T and Z oftentime appear as an all day code and a period code which would cause a doubling of the numbers for the students. so these have to be dealt with separately than normal class codes.

In [6]:
fix_tardies = year_tardies[(year_tardies['Code'] == 'T') | (year_tardies['Code'] == 'Z')] # Selecting T and Z
fix_tardies

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code
6,1,1095014,"A Cerda, Eddie",10,2023-2024,6,0,0,4,1,1,0,0,0,0,0,T
8,1,1095014,"A Cerda, Eddie",10,2023-2024,1,2,0,0,0,0,0,0,0,0,0,Z
19,1,1095224,"Acevedo, Italivi",11,2023-2024,1,6,0,0,0,0,0,0,0,0,0,Z
20,1,1095224,"Acevedo, Italivi",11,2023-2024,3,1,0,0,0,1,1,0,0,0,0,T
23,1,1094134,"Acevedo, Joshua",10,2023-2024,3,5,0,0,1,0,0,0,0,0,0,Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12845,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,1,0,0,1,0,0,0,0,0,0,0,T
12847,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,25,2,22,0,0,0,2,0,0,0,0,Z
12862,2,1094273,"Zuniga, Matthew",6,2023-2024,2,0,1,0,0,0,1,0,0,0,0,Z
12863,6,1092848,"Zuniga, Michelle",6,2023-2024,1,0,0,0,0,0,0,0,0,0,0,Z
12881,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,8,0,0,0,0,0,0,0,0,0,0,Z

In [7]:
# Summing all of the columns
fix_tardies = fix_tardies.assign(sum_column=fix_tardies['Per 0'] + fix_tardies['Per 1'] + fix_tardies['Per 2']
                                 + fix_tardies['Per 3'] + fix_tardies['Per 4'] + fix_tardies['Per 5']
                                 + fix_tardies['Per 6'] + fix_tardies['Per 7'] + fix_tardies['Per 8'] + fix_tardies['Per 9'])
fix_tardies

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code,sum_column
6,1,1095014,"A Cerda, Eddie",10,2023-2024,6,0,0,4,1,1,0,0,0,0,0,T,6
8,1,1095014,"A Cerda, Eddie",10,2023-2024,1,2,0,0,0,0,0,0,0,0,0,Z,2
19,1,1095224,"Acevedo, Italivi",11,2023-2024,1,6,0,0,0,0,0,0,0,0,0,Z,6
20,1,1095224,"Acevedo, Italivi",11,2023-2024,3,1,0,0,0,1,1,0,0,0,0,T,3
23,1,1094134,"Acevedo, Joshua",10,2023-2024,3,5,0,0,1,0,0,0,0,0,0,Z,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12845,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,1,0,0,1,0,0,0,0,0,0,0,T,1
12847,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,25,2,22,0,0,0,2,0,0,0,0,Z,26
12862,2,1094273,"Zuniga, Matthew",6,2023-2024,2,0,1,0,0,0,1,0,0,0,0,Z,2
12863,6,1092848,"Zuniga, Michelle",6,2023-2024,1,0,0,0,0,0,0,0,0,0,0,Z,0
12881,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,8,0,0,0,0,0,0,0,0,0,0,Z,0

In [8]:
# Assigning sum column to all day
fix_tardies['All'] = np.where(fix_tardies['All'] ==0, fix_tardies['sum_column'], fix_tardies['All'])
fix_tardies

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code,sum_column
6,1,1095014,"A Cerda, Eddie",10,2023-2024,6,0,0,4,1,1,0,0,0,0,0,T,6
8,1,1095014,"A Cerda, Eddie",10,2023-2024,1,2,0,0,0,0,0,0,0,0,0,Z,2
19,1,1095224,"Acevedo, Italivi",11,2023-2024,1,6,0,0,0,0,0,0,0,0,0,Z,6
20,1,1095224,"Acevedo, Italivi",11,2023-2024,3,1,0,0,0,1,1,0,0,0,0,T,3
23,1,1094134,"Acevedo, Joshua",10,2023-2024,3,5,0,0,1,0,0,0,0,0,0,Z,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12845,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,1,0,0,1,0,0,0,0,0,0,0,T,1
12847,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,25,2,22,0,0,0,2,0,0,0,0,Z,26
12862,2,1094273,"Zuniga, Matthew",6,2023-2024,2,0,1,0,0,0,1,0,0,0,0,Z,2
12863,6,1092848,"Zuniga, Michelle",6,2023-2024,1,0,0,0,0,0,0,0,0,0,0,Z,0
12881,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,8,0,0,0,0,0,0,0,0,0,0,Z,0

In [9]:
# Turning the rest of the columns to zero
columns_to_zero = ['Per 0', 'Per 1', 'Per 2', 'Per 3', 'Per 4', 'Per 5', 'Per 6', 'Per 7', 'Per 8', 'Per 9']
fix_tardies[columns_to_zero] = 0
fix_tardies

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code,sum_column
6,1,1095014,"A Cerda, Eddie",10,2023-2024,6,0,0,0,0,0,0,0,0,0,0,T,6
8,1,1095014,"A Cerda, Eddie",10,2023-2024,1,0,0,0,0,0,0,0,0,0,0,Z,2
19,1,1095224,"Acevedo, Italivi",11,2023-2024,1,0,0,0,0,0,0,0,0,0,0,Z,6
20,1,1095224,"Acevedo, Italivi",11,2023-2024,3,0,0,0,0,0,0,0,0,0,0,T,3
23,1,1094134,"Acevedo, Joshua",10,2023-2024,3,0,0,0,0,0,0,0,0,0,0,Z,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12845,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,1,0,0,0,0,0,0,0,0,0,0,T,1
12847,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,25,0,0,0,0,0,0,0,0,0,0,Z,26
12862,2,1094273,"Zuniga, Matthew",6,2023-2024,2,0,0,0,0,0,0,0,0,0,0,Z,2
12863,6,1092848,"Zuniga, Michelle",6,2023-2024,1,0,0,0,0,0,0,0,0,0,0,Z,0
12881,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,8,0,0,0,0,0,0,0,0,0,0,Z,0

In [10]:
# Dropping sum column
fix_tardies = fix_tardies.drop(['sum_column'], axis=1)
fix_tardies

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code
6,1,1095014,"A Cerda, Eddie",10,2023-2024,6,0,0,0,0,0,0,0,0,0,0,T
8,1,1095014,"A Cerda, Eddie",10,2023-2024,1,0,0,0,0,0,0,0,0,0,0,Z
19,1,1095224,"Acevedo, Italivi",11,2023-2024,1,0,0,0,0,0,0,0,0,0,0,Z
20,1,1095224,"Acevedo, Italivi",11,2023-2024,3,0,0,0,0,0,0,0,0,0,0,T
23,1,1094134,"Acevedo, Joshua",10,2023-2024,3,0,0,0,0,0,0,0,0,0,0,Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12845,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,1,0,0,0,0,0,0,0,0,0,0,T
12847,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,25,0,0,0,0,0,0,0,0,0,0,Z
12862,2,1094273,"Zuniga, Matthew",6,2023-2024,2,0,0,0,0,0,0,0,0,0,0,Z
12863,6,1092848,"Zuniga, Michelle",6,2023-2024,1,0,0,0,0,0,0,0,0,0,0,Z
12881,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,8,0,0,0,0,0,0,0,0,0,0,Z

In [11]:
# Looking at class tardies
class_tardies = year_tardies[year_tardies['Code'] == 'C']
class_tardies

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code
7,1,1095014,"A Cerda, Eddie",10,2023-2024,0,4,0,1,0,0,1,2,1,0,0,C
17,1,1095224,"Acevedo, Italivi",11,2023-2024,0,0,3,0,0,0,0,0,0,2,0,C
24,1,1094134,"Acevedo, Joshua",10,2023-2024,0,8,2,1,1,0,5,3,1,0,0,C
38,1,1094155,"Acevedo Rojas, Juan",12,2023-2024,0,3,1,0,0,0,0,0,0,0,0,C
55,2,1094472,"Acevedo Sanchez, Bryan",8,2023-2024,0,1,1,7,0,0,0,0,0,0,0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12808,1,1093211,"Zepeda Hernandez, Angel",11,2023-2024,0,1,3,12,1,3,0,11,10,2,0,C
12811,1,1092491,"Zepeda Hernandez, Karla",12,2023-2024,0,0,1,0,0,1,0,0,3,1,0,C
12846,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,0,2,5,0,0,0,0,0,4,0,0,C
12848,4,1096192,"Zepeda Salas, Elena",1,2023-2024,1,0,0,0,0,0,0,0,0,0,0,C
12861,2,1094273,"Zuniga, Matthew",6,2023-2024,0,0,0,0,0,0,1,1,0,0,0,C

In [12]:
# Summing the class tardies
class_tardies = class_tardies.assign(sum_column=class_tardies['Per 0'] + class_tardies['Per 1'] + class_tardies['Per 2']
                                 + class_tardies['Per 3'] + class_tardies['Per 4'] + class_tardies['Per 5']
                                 + class_tardies['Per 6'] + class_tardies['Per 7'] + class_tardies['Per 8']
                                     + class_tardies['Per 9'])
class_tardies

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code,sum_column
7,1,1095014,"A Cerda, Eddie",10,2023-2024,0,4,0,1,0,0,1,2,1,0,0,C,9
17,1,1095224,"Acevedo, Italivi",11,2023-2024,0,0,3,0,0,0,0,0,0,2,0,C,5
24,1,1094134,"Acevedo, Joshua",10,2023-2024,0,8,2,1,1,0,5,3,1,0,0,C,21
38,1,1094155,"Acevedo Rojas, Juan",12,2023-2024,0,3,1,0,0,0,0,0,0,0,0,C,4
55,2,1094472,"Acevedo Sanchez, Bryan",8,2023-2024,0,1,1,7,0,0,0,0,0,0,0,C,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12808,1,1093211,"Zepeda Hernandez, Angel",11,2023-2024,0,1,3,12,1,3,0,11,10,2,0,C,43
12811,1,1092491,"Zepeda Hernandez, Karla",12,2023-2024,0,0,1,0,0,1,0,0,3,1,0,C,6
12846,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,0,2,5,0,0,0,0,0,4,0,0,C,11
12848,4,1096192,"Zepeda Salas, Elena",1,2023-2024,1,0,0,0,0,0,0,0,0,0,0,C,0
12861,2,1094273,"Zuniga, Matthew",6,2023-2024,0,0,0,0,0,0,1,1,0,0,0,C,2

In [13]:
# Assigning sum column to all day
class_tardies['All'] = np.where(class_tardies['All'] >=0, class_tardies['sum_column'], class_tardies['All'])
class_tardies

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code,sum_column
7,1,1095014,"A Cerda, Eddie",10,2023-2024,9,4,0,1,0,0,1,2,1,0,0,C,9
17,1,1095224,"Acevedo, Italivi",11,2023-2024,5,0,3,0,0,0,0,0,0,2,0,C,5
24,1,1094134,"Acevedo, Joshua",10,2023-2024,21,8,2,1,1,0,5,3,1,0,0,C,21
38,1,1094155,"Acevedo Rojas, Juan",12,2023-2024,4,3,1,0,0,0,0,0,0,0,0,C,4
55,2,1094472,"Acevedo Sanchez, Bryan",8,2023-2024,9,1,1,7,0,0,0,0,0,0,0,C,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12808,1,1093211,"Zepeda Hernandez, Angel",11,2023-2024,43,1,3,12,1,3,0,11,10,2,0,C,43
12811,1,1092491,"Zepeda Hernandez, Karla",12,2023-2024,6,0,1,0,0,1,0,0,3,1,0,C,6
12846,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,11,2,5,0,0,0,0,0,4,0,0,C,11
12848,4,1096192,"Zepeda Salas, Elena",1,2023-2024,0,0,0,0,0,0,0,0,0,0,0,C,0
12861,2,1094273,"Zuniga, Matthew",6,2023-2024,2,0,0,0,0,0,1,1,0,0,0,C,2

In [14]:
# Dropping sum column
class_tardies = class_tardies.drop(['sum_column'], axis=1)
class_tardies

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code
7,1,1095014,"A Cerda, Eddie",10,2023-2024,9,4,0,1,0,0,1,2,1,0,0,C
17,1,1095224,"Acevedo, Italivi",11,2023-2024,5,0,3,0,0,0,0,0,0,2,0,C
24,1,1094134,"Acevedo, Joshua",10,2023-2024,21,8,2,1,1,0,5,3,1,0,0,C
38,1,1094155,"Acevedo Rojas, Juan",12,2023-2024,4,3,1,0,0,0,0,0,0,0,0,C
55,2,1094472,"Acevedo Sanchez, Bryan",8,2023-2024,9,1,1,7,0,0,0,0,0,0,0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12808,1,1093211,"Zepeda Hernandez, Angel",11,2023-2024,43,1,3,12,1,3,0,11,10,2,0,C
12811,1,1092491,"Zepeda Hernandez, Karla",12,2023-2024,6,0,1,0,0,1,0,0,3,1,0,C
12846,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,11,2,5,0,0,0,0,0,4,0,0,C
12848,4,1096192,"Zepeda Salas, Elena",1,2023-2024,0,0,0,0,0,0,0,0,0,0,0,C
12861,2,1094273,"Zuniga, Matthew",6,2023-2024,2,0,0,0,0,0,1,1,0,0,0,C

In [15]:
# Putting the two tardy data frames together
merged = pd.concat([class_tardies, fix_tardies])
merged

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code
7,1,1095014,"A Cerda, Eddie",10,2023-2024,9,4,0,1,0,0,1,2,1,0,0,C
17,1,1095224,"Acevedo, Italivi",11,2023-2024,5,0,3,0,0,0,0,0,0,2,0,C
24,1,1094134,"Acevedo, Joshua",10,2023-2024,21,8,2,1,1,0,5,3,1,0,0,C
38,1,1094155,"Acevedo Rojas, Juan",12,2023-2024,4,3,1,0,0,0,0,0,0,0,0,C
55,2,1094472,"Acevedo Sanchez, Bryan",8,2023-2024,9,1,1,7,0,0,0,0,0,0,0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12845,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,1,0,0,0,0,0,0,0,0,0,0,T
12847,2,1093032,"Zepeda Hernandez, Libi Sarahy",7,2023-2024,25,0,0,0,0,0,0,0,0,0,0,Z
12862,2,1094273,"Zuniga, Matthew",6,2023-2024,2,0,0,0,0,0,0,0,0,0,0,Z
12863,6,1092848,"Zuniga, Michelle",6,2023-2024,1,0,0,0,0,0,0,0,0,0,0,Z
12881,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,8,0,0,0,0,0,0,0,0,0,0,Z

In [16]:
# Grouping by student ID and summing all days to get total tardies
merged = merged.groupby(by=['Student ID'])['All'].sum().reset_index()
merged

      Student ID  All
0        1092314    5
1        1092315   19
2        1092319    1
3        1092320    8
4        1092327   32
...          ...  ...
1648     1096363    5
1649     1096364   14
1650     1096366   24
1651     1096370    5
1652     1096375    1

[1653 rows x 2 columns]

In [17]:
tardies = merged.rename(columns={'All': 'Period Tardies'}) # Renaming tardies column
tardies

      Student ID  Period Tardies
0        1092314               5
1        1092315              19
2        1092319               1
3        1092320               8
4        1092327              32
...          ...             ...
1648     1096363               5
1649     1096364              14
1650     1096366              24
1651     1096370               5
1652     1096375               1

[1653 rows x 2 columns]

### Absences

In [18]:
absences

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code
0,1,1095014,"A Cerda, Eddie",10,2020-2021,2.0,0.0,2.0,0.0,2.0,0.0,2.0,0.0,2.0,0.0,0.0,U
1,1,1095014,"A Cerda, Eddie",10,2020-2021,2.0,0.0,2.0,2.0,0.0,2.0,0.0,2.0,0.0,2.0,0.0,#
2,1,1095014,"A Cerda, Eddie",10,2020-2021,2.0,0.0,2.0,2.0,0.0,2.0,0.0,2.0,0.0,2.0,0.0,I
3,1,1095014,"A Cerda, Eddie",10,2020-2021,5.0,0.0,5.0,6.0,11.0,8.0,12.0,8.0,10.0,3.0,0.0,*
4,1,1095014,"A Cerda, Eddie",10,2020-2021,3.0,0.0,3.0,6.0,9.0,8.0,10.0,8.0,8.0,3.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62658,6,1094375,"Zuniga Vazquez, Luis",4,2021-2022,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U
62659,6,1094375,"Zuniga Vazquez, Luis",4,2021-2022,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,*
62660,6,1094375,"Zuniga Vazquez, Luis",4,2021-2022,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,#
62661,6,1094375,"Zuniga Vazquez, Luis",4,2021-2022,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,I
62662,6,1094375,"Zuniga Vazquez, Luis",4,2021-2022,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,C

In [19]:
absences = absences[absences['Year'] == x] # Selecting the year of interest
absences

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code
26,1,1095014,"A Cerda, Eddie",10,2023-2024,0.0,5.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,*
27,1,1095014,"A Cerda, Eddie",10,2023-2024,6.0,0.0,0.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,T
28,1,1095014,"A Cerda, Eddie",10,2023-2024,0.0,5.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,U
29,1,1095014,"A Cerda, Eddie",10,2023-2024,9.0,9.0,7.0,2.0,7.0,2.0,7.0,2.0,7.0,2.0,0.0,I
30,1,1095014,"A Cerda, Eddie",10,2023-2024,11.0,12.0,8.0,4.0,8.0,3.0,8.0,3.0,8.0,3.0,0.0,#
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62640,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,#
62641,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,*
62642,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Z
62643,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U
62644,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M

In [20]:
# Selecting the unexcused absent codes
unexcused = absences[(absences['Code'] == 'A') | (absences['Code'] == 'Q') | 
                     (absences['Code'] == 'S') | (absences['Code'] == 'U')]
unexcused

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code
28,1,1095014,"A Cerda, Eddie",10,2023-2024,0.0,5.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,U
62,4,1096128,"Aburto-Ramirez, Anaiah",0,2023-2024,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,A
123,1,1095224,"Acevedo, Italivi",11,2023-2024,1.0,3.0,2.0,3.0,1.0,1.0,0.0,2.0,0.0,1.0,0.0,U
126,1,1094134,"Acevedo, Joshua",10,2023-2024,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,U
179,4,1095256,"Acevedo Rojas, Abraham",4,2023-2024,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62499,6,1095271,"Zuniga, Alan",2,2023-2024,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U
62540,2,1094273,"Zuniga, Matthew",6,2023-2024,4.0,5.0,4.0,4.0,4.0,4.0,2.0,1.0,1.0,1.0,0.0,U
62558,6,1092848,"Zuniga, Michelle",6,2023-2024,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U
62628,4,1094487,"Zuniga, Pedro",4,2023-2024,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U
62643,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U

In [21]:
# Setting All Day to zero to not overcount
columns_to_zero = ['All']
unexcused[columns_to_zero] = 0
unexcused

C:\Users\derek.castleman\Anaconda3\lib\site-packages\pandas\core\frame.py:3645: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = value

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code
28,1,1095014,"A Cerda, Eddie",10,2023-2024,0,5.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,U
62,4,1096128,"Aburto-Ramirez, Anaiah",0,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,A
123,1,1095224,"Acevedo, Italivi",11,2023-2024,0,3.0,2.0,3.0,1.0,1.0,0.0,2.0,0.0,1.0,0.0,U
126,1,1094134,"Acevedo, Joshua",10,2023-2024,0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,U
179,4,1095256,"Acevedo Rojas, Abraham",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62499,6,1095271,"Zuniga, Alan",2,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U
62540,2,1094273,"Zuniga, Matthew",6,2023-2024,0,5.0,4.0,4.0,4.0,4.0,2.0,1.0,1.0,1.0,0.0,U
62558,6,1092848,"Zuniga, Michelle",6,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U
62628,4,1094487,"Zuniga, Pedro",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U
62643,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U

In [22]:
# Summing all of the periods
unexcused = unexcused.assign(unexcused_periods=unexcused['Per 0'] + unexcused['Per 1'] + unexcused['Per 2']
                                 + unexcused['Per 3'] + unexcused['Per 4'] + unexcused['Per 5']
                                 + unexcused['Per 6'] + unexcused['Per 7'] + unexcused['Per 8']
                                     + unexcused['Per 9'])
unexcused

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code,unexcused_periods
28,1,1095014,"A Cerda, Eddie",10,2023-2024,0,5.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,U,11.0
62,4,1096128,"Aburto-Ramirez, Anaiah",0,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,A,0.0
123,1,1095224,"Acevedo, Italivi",11,2023-2024,0,3.0,2.0,3.0,1.0,1.0,0.0,2.0,0.0,1.0,0.0,U,13.0
126,1,1094134,"Acevedo, Joshua",10,2023-2024,0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,U,6.0
179,4,1095256,"Acevedo Rojas, Abraham",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,A,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62499,6,1095271,"Zuniga, Alan",2,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U,0.0
62540,2,1094273,"Zuniga, Matthew",6,2023-2024,0,5.0,4.0,4.0,4.0,4.0,2.0,1.0,1.0,1.0,0.0,U,26.0
62558,6,1092848,"Zuniga, Michelle",6,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U,0.0
62628,4,1094487,"Zuniga, Pedro",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U,0.0
62643,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U,0.0

In [23]:
# Grouping by student ID and summing the totals category
unexcused = unexcused.groupby(by=['Student ID'])['unexcused_periods'].sum().reset_index()
unexcused

      Student ID  unexcused_periods
0        1092314                9.0
1        1092315                9.0
2        1092327                1.0
3        1092328                8.0
4        1092332               24.0
...          ...                ...
1558     1096364                8.0
1559     1096366               31.0
1560     1096368                0.0
1561     1096369                0.0
1562     1096370                0.0

[1563 rows x 2 columns]

In [24]:
# Renaming the column
unexcused = unexcused.rename(columns={'unexcused_periods': 'Unexcused Absent Periods'})
unexcused

      Student ID  Unexcused Absent Periods
0        1092314                       9.0
1        1092315                       9.0
2        1092327                       1.0
3        1092328                       8.0
4        1092332                      24.0
...          ...                       ...
1558     1096364                       8.0
1559     1096366                      31.0
1560     1096368                       0.0
1561     1096369                       0.0
1562     1096370                       0.0

[1563 rows x 2 columns]

In [25]:
# Selecting all of the absent codes
totalabsent = absences[(absences['Code'] == 'A') | (absences['Code'] == 'Q') | 
                     (absences['Code'] == 'S') | (absences['Code'] == 'U') | (absences['Code'] == 'K') |
                      (absences['Code'] == 'I') | (absences['Code'] == 'M') | (absences['Code'] == 'X')]
totalabsent

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code
28,1,1095014,"A Cerda, Eddie",10,2023-2024,0.0,5.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,U
29,1,1095014,"A Cerda, Eddie",10,2023-2024,9.0,9.0,7.0,2.0,7.0,2.0,7.0,2.0,7.0,2.0,0.0,I
33,1,1095014,"A Cerda, Eddie",10,2023-2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,K
34,1,1095014,"A Cerda, Eddie",10,2023-2024,2.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,M
36,1,1095014,"A Cerda, Eddie",10,2023-2024,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62628,4,1094487,"Zuniga, Pedro",4,2023-2024,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U
62629,4,1094487,"Zuniga, Pedro",4,2023-2024,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,I
62639,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,X
62643,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U
62644,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M

In [26]:
# Summing the columns
columns_to_zero = ['All']
totalabsent[columns_to_zero] = 0
totalabsent

C:\Users\derek.castleman\Anaconda3\lib\site-packages\pandas\core\frame.py:3645: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = value

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code
28,1,1095014,"A Cerda, Eddie",10,2023-2024,0,5.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,U
29,1,1095014,"A Cerda, Eddie",10,2023-2024,0,9.0,7.0,2.0,7.0,2.0,7.0,2.0,7.0,2.0,0.0,I
33,1,1095014,"A Cerda, Eddie",10,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,K
34,1,1095014,"A Cerda, Eddie",10,2023-2024,0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,M
36,1,1095014,"A Cerda, Eddie",10,2023-2024,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62628,4,1094487,"Zuniga, Pedro",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U
62629,4,1094487,"Zuniga, Pedro",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,I
62639,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,X
62643,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U
62644,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M

In [27]:
# Summing all of the periods
totalabsent = totalabsent.assign(absent_periods=totalabsent['Per 0'] + totalabsent['Per 1'] + totalabsent['Per 2']
                                 + totalabsent['Per 3'] + totalabsent['Per 4'] + totalabsent['Per 5']
                                 + totalabsent['Per 6'] + totalabsent['Per 7'] + totalabsent['Per 8']
                                     + totalabsent['Per 9'])
totalabsent

,School,Student ID,Student Name,Grade,Year,All,Per 0,Per 1,Per 2,Per 3,Per 4,Per 5,Per 6,Per 7,Per 8,Per 9,Code,absent_periods
28,1,1095014,"A Cerda, Eddie",10,2023-2024,0,5.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,U,11.0
29,1,1095014,"A Cerda, Eddie",10,2023-2024,0,9.0,7.0,2.0,7.0,2.0,7.0,2.0,7.0,2.0,0.0,I,45.0
33,1,1095014,"A Cerda, Eddie",10,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,K,1.0
34,1,1095014,"A Cerda, Eddie",10,2023-2024,0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,M,11.0
36,1,1095014,"A Cerda, Eddie",10,2023-2024,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,X,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62628,4,1094487,"Zuniga, Pedro",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U,0.0
62629,4,1094487,"Zuniga, Pedro",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,I,0.0
62639,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,X,0.0
62643,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,U,0.0
62644,6,1094375,"Zuniga Vazquez, Luis",4,2023-2024,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M,0.0

In [28]:
# Grouping by student ID and summing the totals
totalabsent = totalabsent.groupby(by=['Student ID'])['absent_periods'].sum().reset_index()
totalabsent

      Student ID  absent_periods
0        1092314            18.0
1        1092315            39.0
2        1092319             8.0
3        1092320            56.0
4        1092327            25.0
...          ...             ...
2183     1096365             0.0
2184     1096366            58.0
2185     1096368             0.0
2186     1096369             0.0
2187     1096370             0.0

[2188 rows x 2 columns]

In [29]:
totalabsent = totalabsent.rename(columns={'absent_periods': 'Total Absent Periods'})
totalabsent

      Student ID  Total Absent Periods
0        1092314                  18.0
1        1092315                  39.0
2        1092319                   8.0
3        1092320                  56.0
4        1092327                  25.0
...          ...                   ...
2183     1096365                   0.0
2184     1096366                  58.0
2185     1096368                   0.0
2186     1096369                   0.0
2187     1096370                   0.0

[2188 rows x 2 columns]

In [30]:
# Merging period tardies with unexcused absences
attendance = pd.merge(tardies, unexcused, how='outer', on='Student ID')
attendance

      Student ID  Period Tardies  Unexcused Absent Periods
0        1092314             5.0                       9.0
1        1092315            19.0                       9.0
2        1092319             1.0                       NaN
3        1092320             8.0                       NaN
4        1092327            32.0                       1.0
...          ...             ...                       ...
1956     1096352             NaN                       5.0
1957     1096355             NaN                       0.0
1958     1096361             NaN                       0.0
1959     1096368             NaN                       0.0
1960     1096369             NaN                       0.0

[1961 rows x 3 columns]

In [31]:
# Merging with total absent
attendance = pd.merge(attendance, totalabsent, how='outer', on='Student ID')
attendance

,Student ID,Period Tardies,Unexcused Absent Periods,Total Absent Periods
0,1092314,5.0,9.0,18.0
1,1092315,19.0,9.0,39.0
2,1092319,1.0,NaN,8.0
3,1092320,8.0,NaN,56.0
4,1092327,32.0,1.0,25.0
...,...,...,...,...
2260,1096304,NaN,NaN,0.0
2261,1096320,NaN,NaN,0.0
2262,1096322,NaN,NaN,0.0
2263,1096346,NaN,NaN,0.0
2264,1096365,NaN,NaN,0.0

In [32]:
# Filling in na columns with zeros
attendance = attendance.fillna(0)
attendance

,Student ID,Period Tardies,Unexcused Absent Periods,Total Absent Periods
0,1092314,5.0,9.0,18.0
1,1092315,19.0,9.0,39.0
2,1092319,1.0,0.0,8.0
3,1092320,8.0,0.0,56.0
4,1092327,32.0,1.0,25.0
...,...,...,...,...
2260,1096304,0.0,0.0,0.0
2261,1096320,0.0,0.0,0.0
2262,1096322,0.0,0.0,0.0
2263,1096346,0.0,0.0,0.0
2264,1096365,0.0,0.0,0.0

## Discipline

A date will be input that will be selected for when discipline should be looked at beyond. A number of one will be assigned to each discipline log and then it will be summed for each of the students. The same thing will be done with the suspensions for a student.

In [33]:
discipline

,Student ID,Description_DIS_CD,Date
0,1095014,NaN,NaN
1,1094167,"O-Inappropriate Contact: Repeated, documented ...",02/17/2023
2,1095258,NaN,NaN
3,1096128,NaN,NaN
4,1093925,NaN,NaN
...,...,...,...
4801,1094273,NaN,NaN
4802,1092848,NaN,NaN
4803,1094487,NaN,NaN
4804,1094375,Out of Bounds,12/06/2019
4805,1094375,NaN,03/03/2022

In [34]:
discipline['Date']= pd.to_datetime(discipline['Date']) # Changing to proper date format
discipline

      Student ID                                 Description_DIS_CD       Date
0        1095014                                                NaN        NaT
1        1094167  O-Inappropriate Contact: Repeated, documented ... 2023-02-17
2        1095258                                                NaN        NaT
3        1096128                                                NaN        NaT
4        1093925                                                NaN        NaT
...          ...                                                ...        ...
4801     1094273                                                NaN        NaT
4802     1092848                                                NaN        NaT
4803     1094487                                                NaN        NaT
4804     1094375                                      Out of Bounds 2019-12-06
4805     1094375                                                NaN 2022-03-03

[4806 rows x 3 columns]

In [35]:
y = input('Input first day of school year mm/dd/yyyy        ') # Selecting start date for discipline
y

Input first day of school year mm/dd/yyyy        08/09/2023

'08/09/2023'

In [36]:
y = pd.to_datetime(y) # Changing start date into proper format
y

Timestamp('2023-08-09 00:00:00')

In [37]:
discipline = discipline[discipline['Date'] > y] # Selecting discipline beyond start date
discipline

      Student ID                                 Description_DIS_CD       Date
32       1093946  O-Disrespect: Repeated, documented low-intensi... 2023-12-12
33       1093946  O-Classroom Disruption: Repeated, documented b... 2023-09-28
34       1093946  O-Disrespect: Repeated, documented low-intensi... 2023-10-17
35       1093946  O-Disrespect: Repeated, documented low-intensi... 2023-10-26
36       1093946  O-Classroom Disruption: Repeated, documented b... 2023-11-02
...          ...                                                ...        ...
4726     1096341  O-Other: Any other repeated, documented low-in... 2023-11-29
4760     1092504  O-Defiance: Repeated, documented low-intensity... 2024-01-18
4766     1092504  O-Inappropriate Contact: Repeated, documented ... 2024-01-18
4780     1093211  O-Inappropriate Language: Repeated, documented... 2023-08-31
4781     1093211  O-Other: Any other repeated, documented low-in... 2023-11-28

[308 rows x 3 columns]

In [38]:
discipline['Discipline Logs'] = 1 # Giving a value of one for each discipline
discipline

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_1300/1235574028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  discipline['Discipline Logs'] = 1

,Student ID,Description_DIS_CD,Date,Discipline Logs
32,1093946,"O-Disrespect: Repeated, documented low-intensi...",2023-12-12,1
33,1093946,"O-Classroom Disruption: Repeated, documented b...",2023-09-28,1
34,1093946,"O-Disrespect: Repeated, documented low-intensi...",2023-10-17,1
35,1093946,"O-Disrespect: Repeated, documented low-intensi...",2023-10-26,1
36,1093946,"O-Classroom Disruption: Repeated, documented b...",2023-11-02,1
...,...,...,...,...
4726,1096341,"O-Other: Any other repeated, documented low-in...",2023-11-29,1
4760,1092504,"O-Defiance: Repeated, documented low-intensity...",2024-01-18,1
4766,1092504,"O-Inappropriate Contact: Repeated, documented ...",2024-01-18,1
4780,1093211,"O-Inappropriate Language: Repeated, documented...",2023-08-31,1
4781,1093211,"O-Other: Any other repeated, documented low-in...",2023-11-28,1

In [39]:
# Summing up the discipline for each student
discipline = discipline.groupby(by=['Student ID'])['Discipline Logs'].sum().reset_index()
discipline

     Student ID  Discipline Logs
0       1092328                1
1       1092332                2
2       1092338                2
3       1092350                3
4       1092366                2
..          ...              ...
155     1096283                1
156     1096334                3
157     1096341                1
158     1096350                1
159     1096357                1

[160 rows x 2 columns]

In [40]:
suspension

      School  Student ID Date  Code Disposition Disposition date
0          1     1095014  NaN   NaN         NaN              NaN
1          4     1094167  NaN   NaN         NaN              NaN
2          4     1095258  NaN   NaN         NaN              NaN
3          4     1096128  NaN   NaN         NaN              NaN
4          4     1093925  NaN   NaN         NaN              NaN
...      ...         ...  ...   ...         ...              ...
2526       6     1095271  NaN   NaN         NaN              NaN
2527       2     1094273  NaN   NaN         NaN              NaN
2528       6     1092848  NaN   NaN         NaN              NaN
2529       4     1094487  NaN   NaN         NaN              NaN
2530       6     1094375  NaN   NaN         NaN              NaN

[2531 rows x 6 columns]

In [41]:
suspension = suspension[suspension['Disposition'] == 'SUS-13'] # Selecting suspensions
suspension

      School  Student ID        Date  Code Disposition Disposition date
6          1     1094134  02/18/2022   2.0      SUS-13       02/22/2022
10         2     1095206  03/16/2022   1.0      SUS-13       03/16/2022
17         2     1093946  08/31/2023   2.0      SUS-13       08/31/2023
31         1     1093789  03/30/2022   1.0      SUS-13       03/31/2022
32         1     1095676  03/31/2022   1.0      SUS-13       04/04/2022
...      ...         ...         ...   ...         ...              ...
2509       2     1095035  02/01/2022   1.0      SUS-13       02/02/2022
2510       2     1095035  02/02/2023   1.0      SUS-13       02/03/2023
2511       2     1095035  02/14/2023   3.0      SUS-13       02/15/2023
2516       1     1092504  10/04/2019   1.0      SUS-13       10/07/2019
2517       1     1092504  04/19/2022   2.0      SUS-13       04/19/2022

[241 rows x 6 columns]

In [42]:
# Changing date into proper format
suspension['Disposition date']= pd.to_datetime(suspension['Disposition date'])
suspension

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_1300/1900829100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  suspension['Disposition date']= pd.to_datetime(suspension['Disposition date'])

      School  Student ID        Date  Code Disposition Disposition date
6          1     1094134  02/18/2022   2.0      SUS-13       2022-02-22
10         2     1095206  03/16/2022   1.0      SUS-13       2022-03-16
17         2     1093946  08/31/2023   2.0      SUS-13       2023-08-31
31         1     1093789  03/30/2022   1.0      SUS-13       2022-03-31
32         1     1095676  03/31/2022   1.0      SUS-13       2022-04-04
...      ...         ...         ...   ...         ...              ...
2509       2     1095035  02/01/2022   1.0      SUS-13       2022-02-02
2510       2     1095035  02/02/2023   1.0      SUS-13       2023-02-03
2511       2     1095035  02/14/2023   3.0      SUS-13       2023-02-15
2516       1     1092504  10/04/2019   1.0      SUS-13       2019-10-07
2517       1     1092504  04/19/2022   2.0      SUS-13       2022-04-19

[241 rows x 6 columns]

In [43]:
# Selecting suspensions beyond the start date
suspension = suspension[suspension['Disposition date'] > y]
suspension

      School  Student ID        Date  Code Disposition Disposition date
17         2     1093946  08/31/2023   2.0      SUS-13       2023-08-31
433        4     1093924  11/16/2023   1.0      SUS-13       2023-11-17
485        2     1094041  11/06/2023   3.0      SUS-13       2023-11-06
614        7     1092847  12/06/2023   1.0      SUS-13       2023-12-07
736        7     1094568  09/18/2023   1.0      SUS-13       2023-09-19
737        7     1094568  09/29/2023   1.0      SUS-13       2023-09-29
837        1     1095186  09/08/2023   1.0      SUS-13       2023-09-12
1253       1     1095957  08/11/2023   3.0      SUS-13       2023-08-11
1428       8     1096284  09/19/2023   8.0      SUS-13       2023-09-19
1444       1     1092487  10/31/2023   1.0      SUS-13       2023-11-01
1445       1     1092487  11/08/2023  11.0      SUS-13       2023-11-09
1446       1     1092487  01/11/2024  30.0      SUS-13       2024-01-12
1597       4     1095604  11/28/2023   1.0      SUS-13       2023-11-28
1630       2     1092982  09/13/2023   3.0      SUS-13       2023-09-14
1669       8     1093652  09/05/2023   3.0      SUS-13       2023-09-06
1915       8     1096089  09/06/2023   3.0      SUS-13       2023-09-07
1916       8     1096089  09/11/2023   3.0      SUS-13       2023-09-11
1917       8     1096089  10/26/2023   3.0      SUS-13       2023-10-26
1924       1     1096334  11/08/2023   1.0      SUS-13       2023-11-09
1956       7     1095868  08/24/2023   1.0      SUS-13       2023-08-25
1983       1     1093208  09/08/2023   1.0      SUS-13       2023-09-11
1984       1     1093208  09/08/2023   1.0      SUS-13       2023-09-14
2061       1     1093220  10/17/2023   1.0      SUS-13       2023-10-18
2143       7     1092766  11/29/2023   2.0      SUS-13       2023-11-30
2151       1     1093691  09/19/2023   1.0      SUS-13       2023-09-20
2161       1     1092569  12/05/2023   1.0      SUS-13       2023-12-06
2294       8     1093985  09/12/2023   3.0      SUS-13       2023-09-13
2322       2     1092735  09/13/2023   3.0      SUS-13       2023-09-14

In [44]:
suspension['Suspensions'] = 1 # Giving a value of 1 for each suspension
suspension

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_1300/3617914115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  suspension['Suspensions'] = 1

,School,Student ID,Date,Code,Disposition,Disposition date,Suspensions
17,2,1093946,08/31/2023,2.0,SUS-13,2023-08-31,1
433,4,1093924,11/16/2023,1.0,SUS-13,2023-11-17,1
485,2,1094041,11/06/2023,3.0,SUS-13,2023-11-06,1
614,7,1092847,12/06/2023,1.0,SUS-13,2023-12-07,1
736,7,1094568,09/18/2023,1.0,SUS-13,2023-09-19,1
737,7,1094568,09/29/2023,1.0,SUS-13,2023-09-29,1
837,1,1095186,09/08/2023,1.0,SUS-13,2023-09-12,1
1253,1,1095957,08/11/2023,3.0,SUS-13,2023-08-11,1
1428,8,1096284,09/19/2023,8.0,SUS-13,2023-09-19,1
1444,1,1092487,10/31/2023,1.0,SUS-13,2023-11-01,1
1445,1,1092487,11/08/2023,11.0,SUS-13,2023-11-09,1
1446,1,1092487,01/11/2024,30.0,SUS-13,2024-01-12,1
1597,4,1095604,11/28/2023,1.0,SUS-13,2023-11-28,1
1630,2,1092982,09/13/2023,3.0,SUS-13,2023-09-14,1
1669,8,1093652,09/05/2023,3.0,SUS-13,2023-09-06,1
1915,8,1096089,09/06/2023,3.0,SUS-13,2023-09-07,1
1916,8,1096089,09/11/2023,3.0,SUS-13,2023-09-11,1
1917,8,1096089,10/26/2023,3.0,SUS-13,2023-10-26,1
1924,1,1096334,11/08/2023,1.0,SUS-13,2023-11-09,1
1956,7,1095868,08/24/2023,1.0,SUS-13,2023-08-25,1
1983,1,1093208,09/08/2023,1.0,SUS-13,2023-09-11,1
1984,1,1093208,09/08/2023,1.0,SUS-13,2023-09-14,1
2061,1,1093220,10/17/2023,1.0,SUS-13,2023-10-18,1
2143,7,1092766,11/29/2023,2.0,SUS-13,2023-11-30,1
2151,1,1093691,09/19/2023,1.0,SUS-13,2023-09-20,1
2161,1,1092569,12/05/2023,1.0,SUS-13,2023-12-06,1
2294,8,1093985,09/12/2023,3.0,SUS-13,2023-09-13,1
2322,2,1092735,09/13/2023,3.0,SUS-13,2023-09-14,1

In [45]:
# Summing up the suspensions for each student
suspension = suspension.groupby(by=['Student ID'])['Suspensions'].sum().reset_index()
suspension

    Student ID  Suspensions
0      1092487            3
1      1092569            1
2      1092735            1
3      1092766            1
4      1092847            1
5      1092982            1
6      1093208            2
7      1093220            1
8      1093652            1
9      1093691            1
10     1093924            1
11     1093946            1
12     1093985            1
13     1094041            1
14     1094568            2
15     1095186            1
16     1095604            1
17     1095868            1
18     1095957            1
19     1096089            3
20     1096284            1
21     1096334            1

In [46]:
# Merging the two behavior columns together
behavior = pd.merge(discipline, suspension, how='outer', on='Student ID')
behavior

     Student ID  Discipline Logs  Suspensions
0       1092328              1.0          NaN
1       1092332              2.0          NaN
2       1092338              2.0          NaN
3       1092350              3.0          NaN
4       1092366              2.0          NaN
..          ...              ...          ...
166     1093652              NaN          1.0
167     1094568              NaN          2.0
168     1095186              NaN          1.0
169     1095868              NaN          1.0
170     1096284              NaN          1.0

[171 rows x 3 columns]

In [47]:
behavior = behavior.fillna(0) # Filling in the missing values with zero
behavior

     Student ID  Discipline Logs  Suspensions
0       1092328              1.0          0.0
1       1092332              2.0          0.0
2       1092338              2.0          0.0
3       1092350              3.0          0.0
4       1092366              2.0          0.0
..          ...              ...          ...
166     1093652              0.0          1.0
167     1094568              0.0          2.0
168     1095186              0.0          1.0
169     1095868              0.0          1.0
170     1096284              0.0          1.0

[171 rows x 3 columns]

## Academics

The total academic GPA for students will be added to the attendance data along with any outstanding fees that they might have. The outstanding fees are calculated by the total they have been charged with the total that has been paid minused from it. The grades for the current term will be selected and any grade under a C- will be chosen with a sum for each student for how many Ds and Fs they have given.

In [48]:
gpa

      School  Student ID            Student Name  Grade    TGPA
0          1     1095014          A Cerda, Eddie     10  2.2692
1          4     1094167        Aaron, Anastasia      5  3.0000
2          4     1095258           Aaron, Lillie      2  4.0000
3          4     1096128  Aburto-Ramirez, Anaiah      0  2.5000
4          4     1093925   Aburto-Ramirez, Ayden      3  4.0000
...      ...         ...                     ...    ...     ...
2375       6     1095271            Zuniga, Alan      2  3.0000
2376       2     1094273         Zuniga, Matthew      6  3.1515
2377       6     1092848        Zuniga, Michelle      6  4.0000
2378       4     1094487           Zuniga, Pedro      4  2.0000
2379       6     1094375    Zuniga Vazquez, Luis      4  4.0000

[2380 rows x 5 columns]

In [49]:
# Adds the total GPA of each student with their attendance data
merge_one = pd.merge(gpa, attendance, how='left', on='Student ID')
merge_one

,School,Student ID,Student Name,Grade,TGPA,Period Tardies,Unexcused Absent Periods,Total Absent Periods
0,1,1095014,"A Cerda, Eddie",10,2.2692,16.0,11.0,69.0
1,4,1094167,"Aaron, Anastasia",5,3.0000,0.0,0.0,0.0
2,4,1095258,"Aaron, Lillie",2,4.0000,0.0,0.0,0.0
3,4,1096128,"Aburto-Ramirez, Anaiah",0,2.5000,0.0,0.0,0.0
4,4,1093925,"Aburto-Ramirez, Ayden",3,4.0000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2375,6,1095271,"Zuniga, Alan",2,3.0000,0.0,0.0,0.0
2376,2,1094273,"Zuniga, Matthew",6,3.1515,4.0,26.0,42.0
2377,6,1092848,"Zuniga, Michelle",6,4.0000,1.0,0.0,0.0
2378,4,1094487,"Zuniga, Pedro",4,2.0000,0.0,0.0,0.0
2379,6,1094375,"Zuniga Vazquez, Luis",4,4.0000,8.0,0.0,0.0

In [50]:
final = pd.merge(merge_one, behavior, how='left', on='Student ID')
final

,School,Student ID,Student Name,Grade,TGPA,Period Tardies,Unexcused Absent Periods,Total Absent Periods,Discipline Logs,Suspensions
0,1,1095014,"A Cerda, Eddie",10,2.2692,16.0,11.0,69.0,NaN,NaN
1,4,1094167,"Aaron, Anastasia",5,3.0000,0.0,0.0,0.0,NaN,NaN
2,4,1095258,"Aaron, Lillie",2,4.0000,0.0,0.0,0.0,NaN,NaN
3,4,1096128,"Aburto-Ramirez, Anaiah",0,2.5000,0.0,0.0,0.0,NaN,NaN
4,4,1093925,"Aburto-Ramirez, Ayden",3,4.0000,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2375,6,1095271,"Zuniga, Alan",2,3.0000,0.0,0.0,0.0,NaN,NaN
2376,2,1094273,"Zuniga, Matthew",6,3.1515,4.0,26.0,42.0,NaN,NaN
2377,6,1092848,"Zuniga, Michelle",6,4.0000,1.0,0.0,0.0,NaN,NaN
2378,4,1094487,"Zuniga, Pedro",4,2.0000,0.0,0.0,0.0,NaN,NaN
2379,6,1094375,"Zuniga Vazquez, Luis",4,4.0000,8.0,0.0,0.0,NaN,NaN

In [51]:
final = final.fillna(0)
final

,School,Student ID,Student Name,Grade,TGPA,Period Tardies,Unexcused Absent Periods,Total Absent Periods,Discipline Logs,Suspensions
0,1,1095014,"A Cerda, Eddie",10,2.2692,16.0,11.0,69.0,0.0,0.0
1,4,1094167,"Aaron, Anastasia",5,3.0000,0.0,0.0,0.0,0.0,0.0
2,4,1095258,"Aaron, Lillie",2,4.0000,0.0,0.0,0.0,0.0,0.0
3,4,1096128,"Aburto-Ramirez, Anaiah",0,2.5000,0.0,0.0,0.0,0.0,0.0
4,4,1093925,"Aburto-Ramirez, Ayden",3,4.0000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2375,6,1095271,"Zuniga, Alan",2,3.0000,0.0,0.0,0.0,0.0,0.0
2376,2,1094273,"Zuniga, Matthew",6,3.1515,4.0,26.0,42.0,0.0,0.0
2377,6,1092848,"Zuniga, Michelle",6,4.0000,1.0,0.0,0.0,0.0,0.0
2378,4,1094487,"Zuniga, Pedro",4,2.0000,0.0,0.0,0.0,0.0,0.0
2379,6,1094375,"Zuniga Vazquez, Luis",4,4.0000,8.0,0.0,0.0,0.0,0.0

In [52]:
fees

      Student ID  Amount Chgd   Date Chgd  Amount Pd Description_FEE_CD
0        1095014         50.0  02/03/2022       50.0  Chromebook Screen
1        1094167          NaN         NaN        NaN                NaN
2        1095258          NaN         NaN        NaN                NaN
3        1096128          NaN         NaN        NaN                NaN
4        1093925          NaN         NaN        NaN                NaN
...          ...          ...         ...        ...                ...
2393     1095271          NaN         NaN        NaN                NaN
2394     1094273          NaN         NaN        NaN                NaN
2395     1092848          NaN         NaN        NaN                NaN
2396     1094487          NaN         NaN        NaN                NaN
2397     1094375          NaN         NaN        NaN                NaN

[2398 rows x 5 columns]

In [53]:
# Debts are calculated by subtracting amount paid from amount charged
fees['Fees/Debts'] = fees['Amount Chgd'] - fees['Amount Pd']
fees

,Student ID,Amount Chgd,Date Chgd,Amount Pd,Description_FEE_CD,Fees/Debts
0,1095014,50.0,02/03/2022,50.0,Chromebook Screen,0.0
1,1094167,NaN,NaN,NaN,NaN,NaN
2,1095258,NaN,NaN,NaN,NaN,NaN
3,1096128,NaN,NaN,NaN,NaN,NaN
4,1093925,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2393,1095271,NaN,NaN,NaN,NaN,NaN
2394,1094273,NaN,NaN,NaN,NaN,NaN
2395,1092848,NaN,NaN,NaN,NaN,NaN
2396,1094487,NaN,NaN,NaN,NaN,NaN
2397,1094375,NaN,NaN,NaN,NaN,NaN

In [54]:
fees = fees[['Student ID', 'Fees/Debts']]
fees

      Student ID  Fees/Debts
0        1095014         0.0
1        1094167         NaN
2        1095258         NaN
3        1096128         NaN
4        1093925         NaN
...          ...         ...
2393     1095271         NaN
2394     1094273         NaN
2395     1092848         NaN
2396     1094487         NaN
2397     1094375         NaN

[2398 rows x 2 columns]

In [55]:
gradebook

,School,Student ID,Student Name,Grade,Pd,Name1,Term,OverallMark,Status,OverallScr
0,1,1095014,"A Cerda, Eddie",10,2.0,Study Skills,F,B,NaN,85.4200
1,1,1095014,"A Cerda, Eddie",10,6.0,Chemistry,3,F,NaN,54.0000
2,1,1095014,"A Cerda, Eddie",10,7.0,Lang Arts 10,3,NaN,NaN,0.0000
3,1,1095014,"A Cerda, Eddie",10,8.0,World Hist,1,C,NaN,70.8333
4,1,1095014,"A Cerda, Eddie",10,8.0,World Hist,2,C,NaN,71.7261
...,...,...,...,...,...,...,...,...,...,...
44935,6,1094375,"Zuniga Vazquez, Luis",4,7.0,Gr 4 PE,F,A+,NaN,100.0000
44936,6,1094375,"Zuniga Vazquez, Luis",4,7.0,Gr 4 PE,S,A+,NaN,100.0000
44937,6,1094375,"Zuniga Vazquez, Luis",4,7.0,Gr 4 Music,F,A,NaN,95.0000
44938,6,1094375,"Zuniga Vazquez, Luis",4,7.0,Gr 4 Music,S,A,NaN,95.0000
44939,6,1094375,"Zuniga Vazquez, Luis",4,7.0,Gr 6 PE,F,A,NaN,94.7222

In [56]:
z = input('Input term of interest (1, 2 etc.)        ') # Current term for grades is unput
z

Input term of interest (1, 2 etc.)        3

'3'

In [57]:
gradebook = gradebook[gradebook['Term'] == z] # Current term is selected from gradebook
gradebook

,School,Student ID,Student Name,Grade,Pd,Name1,Term,OverallMark,Status,OverallScr
1,1,1095014,"A Cerda, Eddie",10,6.0,Chemistry,3,F,NaN,54.0000
2,1,1095014,"A Cerda, Eddie",10,7.0,Lang Arts 10,3,NaN,NaN,0.0000
5,1,1095014,"A Cerda, Eddie",10,1.0,Digital Art,3,D,NaN,64.4444
12,1,1095014,"A Cerda, Eddie",10,4.0,Alg 1,3,A+,NaN,100.0000
20,1,1095014,"A Cerda, Eddie",10,5.0,PE,3,NaN,NaN,0.0000
...,...,...,...,...,...,...,...,...,...,...
44886,2,1094273,"Zuniga, Matthew",6,1.0,Soc Studies 6,3,NaN,NaN,0.0000
44891,2,1094273,"Zuniga, Matthew",6,3.0,Inter Sci 6,3,F,NaN,50.0000
44892,2,1094273,"Zuniga, Matthew",6,5.0,PE 6,3,A+,NaN,100.0000
44895,2,1094273,"Zuniga, Matthew",6,7.0,Math 6,3,A+,NaN,100.0000
44908,2,1094273,"Zuniga, Matthew",6,2.0,ART - S,3,A,NaN,94.0000

In [58]:
# Failing grades are chosen
failing = gradebook[(gradebook['OverallMark'] == 'D+') | (gradebook['OverallMark'] == 'D') | 
                    (gradebook['OverallMark'] == 'D-') | (gradebook['OverallMark'] == 'F')]
failing

,School,Student ID,Student Name,Grade,Pd,Name1,Term,OverallMark,Status,OverallScr
1,1,1095014,"A Cerda, Eddie",10,6.0,Chemistry,3,F,NaN,54.0000
5,1,1095014,"A Cerda, Eddie",10,1.0,Digital Art,3,D,NaN,64.4444
33,1,1095014,"A Cerda, Eddie",10,8.0,World Hist,3,F,NaN,50.0000
79,1,1094134,"Acevedo, Joshua",10,0.0,Advisory 10,3,D,NaN,66.6666
82,1,1094134,"Acevedo, Joshua",10,1.0,Digital Art,3,F,NaN,53.3333
...,...,...,...,...,...,...,...,...,...,...
44609,2,1095035,"Zaragoza, Heidyn",8,6.0,Lang Arts 8,3,D,NaN,66.6666
44618,8,1095289,"Zarza, Oscar",10,0.0,Comp Science,3,F,NaN,50.0000
44690,1,1092504,"Zendejas, Angel",12,3.0,ELD 2/3,3,D,NaN,66.6666
44780,1,1093211,"Zepeda Hernandez, Angel",11,1.0,Digital Art,3,F,NaN,50.0000
44891,2,1094273,"Zuniga, Matthew",6,3.0,Inter Sci 6,3,F,NaN,50.0000

In [59]:
# A value of 1 is given to each course that has been filtered
failing['D/F'] = 1
failing

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_1300/3214701812.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  failing['D/F'] = 1

,School,Student ID,Student Name,Grade,Pd,Name1,Term,OverallMark,Status,OverallScr,D/F
1,1,1095014,"A Cerda, Eddie",10,6.0,Chemistry,3,F,NaN,54.0000,1
5,1,1095014,"A Cerda, Eddie",10,1.0,Digital Art,3,D,NaN,64.4444,1
33,1,1095014,"A Cerda, Eddie",10,8.0,World Hist,3,F,NaN,50.0000,1
79,1,1094134,"Acevedo, Joshua",10,0.0,Advisory 10,3,D,NaN,66.6666,1
82,1,1094134,"Acevedo, Joshua",10,1.0,Digital Art,3,F,NaN,53.3333,1
...,...,...,...,...,...,...,...,...,...,...,...
44609,2,1095035,"Zaragoza, Heidyn",8,6.0,Lang Arts 8,3,D,NaN,66.6666,1
44618,8,1095289,"Zarza, Oscar",10,0.0,Comp Science,3,F,NaN,50.0000,1
44690,1,1092504,"Zendejas, Angel",12,3.0,ELD 2/3,3,D,NaN,66.6666,1
44780,1,1093211,"Zepeda Hernandez, Angel",11,1.0,Digital Art,3,F,NaN,50.0000,1
44891,2,1094273,"Zuniga, Matthew",6,3.0,Inter Sci 6,3,F,NaN,50.0000,1

In [60]:
# Total number is summed up
failing = failing.groupby(by=['Student ID'])['D/F'].sum().reset_index()
failing

     Student ID  D/F
0       1092314    1
1       1092315    2
2       1092328    1
3       1092331    2
4       1092332    2
..          ...  ...
425     1096332    2
426     1096341    3
427     1096344    1
428     1096349    2
429     1096357    2

[430 rows x 2 columns]

In [61]:
final

,School,Student ID,Student Name,Grade,TGPA,Period Tardies,Unexcused Absent Periods,Total Absent Periods,Discipline Logs,Suspensions
0,1,1095014,"A Cerda, Eddie",10,2.2692,16.0,11.0,69.0,0.0,0.0
1,4,1094167,"Aaron, Anastasia",5,3.0000,0.0,0.0,0.0,0.0,0.0
2,4,1095258,"Aaron, Lillie",2,4.0000,0.0,0.0,0.0,0.0,0.0
3,4,1096128,"Aburto-Ramirez, Anaiah",0,2.5000,0.0,0.0,0.0,0.0,0.0
4,4,1093925,"Aburto-Ramirez, Ayden",3,4.0000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2375,6,1095271,"Zuniga, Alan",2,3.0000,0.0,0.0,0.0,0.0,0.0
2376,2,1094273,"Zuniga, Matthew",6,3.1515,4.0,26.0,42.0,0.0,0.0
2377,6,1092848,"Zuniga, Michelle",6,4.0000,1.0,0.0,0.0,0.0,0.0
2378,4,1094487,"Zuniga, Pedro",4,2.0000,0.0,0.0,0.0,0.0,0.0
2379,6,1094375,"Zuniga Vazquez, Luis",4,4.0000,8.0,0.0,0.0,0.0,0.0

In [62]:
# Failing grades are added to all other merges
final = pd.merge(final, failing, on='Student ID', how='left')
final

,School,Student ID,Student Name,Grade,TGPA,Period Tardies,Unexcused Absent Periods,Total Absent Periods,Discipline Logs,Suspensions,D/F
0,1,1095014,"A Cerda, Eddie",10,2.2692,16.0,11.0,69.0,0.0,0.0,3.0
1,4,1094167,"Aaron, Anastasia",5,3.0000,0.0,0.0,0.0,0.0,0.0,NaN
2,4,1095258,"Aaron, Lillie",2,4.0000,0.0,0.0,0.0,0.0,0.0,NaN
3,4,1096128,"Aburto-Ramirez, Anaiah",0,2.5000,0.0,0.0,0.0,0.0,0.0,NaN
4,4,1093925,"Aburto-Ramirez, Ayden",3,4.0000,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2375,6,1095271,"Zuniga, Alan",2,3.0000,0.0,0.0,0.0,0.0,0.0,NaN
2376,2,1094273,"Zuniga, Matthew",6,3.1515,4.0,26.0,42.0,0.0,0.0,1.0
2377,6,1092848,"Zuniga, Michelle",6,4.0000,1.0,0.0,0.0,0.0,0.0,NaN
2378,4,1094487,"Zuniga, Pedro",4,2.0000,0.0,0.0,0.0,0.0,0.0,NaN
2379,6,1094375,"Zuniga Vazquez, Luis",4,4.0000,8.0,0.0,0.0,0.0,0.0,NaN

In [63]:
# Fees are added to the end
final = pd.merge(final, fees, on='Student ID', how='left')
final

,School,Student ID,Student Name,Grade,TGPA,Period Tardies,Unexcused Absent Periods,Total Absent Periods,Discipline Logs,Suspensions,D/F,Fees/Debts
0,1,1095014,"A Cerda, Eddie",10,2.2692,16.0,11.0,69.0,0.0,0.0,3.0,0.0
1,4,1094167,"Aaron, Anastasia",5,3.0000,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,4,1095258,"Aaron, Lillie",2,4.0000,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,4,1096128,"Aburto-Ramirez, Anaiah",0,2.5000,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,4,1093925,"Aburto-Ramirez, Ayden",3,4.0000,0.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2393,6,1095271,"Zuniga, Alan",2,3.0000,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2394,2,1094273,"Zuniga, Matthew",6,3.1515,4.0,26.0,42.0,0.0,0.0,1.0,NaN
2395,6,1092848,"Zuniga, Michelle",6,4.0000,1.0,0.0,0.0,0.0,0.0,NaN,NaN
2396,4,1094487,"Zuniga, Pedro",4,2.0000,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2397,6,1094375,"Zuniga Vazquez, Luis",4,4.0000,8.0,0.0,0.0,0.0,0.0,NaN,NaN

In [64]:
# Any remaining nan are filled in with 0
final = final.fillna(0)
final

,School,Student ID,Student Name,Grade,TGPA,Period Tardies,Unexcused Absent Periods,Total Absent Periods,Discipline Logs,Suspensions,D/F,Fees/Debts
0,1,1095014,"A Cerda, Eddie",10,2.2692,16.0,11.0,69.0,0.0,0.0,3.0,0.0
1,4,1094167,"Aaron, Anastasia",5,3.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,1095258,"Aaron, Lillie",2,4.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,1096128,"Aburto-Ramirez, Anaiah",0,2.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1093925,"Aburto-Ramirez, Ayden",3,4.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2393,6,1095271,"Zuniga, Alan",2,3.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2394,2,1094273,"Zuniga, Matthew",6,3.1515,4.0,26.0,42.0,0.0,0.0,1.0,0.0
2395,6,1092848,"Zuniga, Michelle",6,4.0000,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2396,4,1094487,"Zuniga, Pedro",4,2.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2397,6,1094375,"Zuniga Vazquez, Luis",4,4.0000,8.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
import base64
from IPython.display import HTML

def create_download_link( df, title = "Attendance and Discipline", filename = "Attendance and Discipline"):
    csv = df.to_csv(index=False)
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(final)